@using DAL_Paggination.Repositories;
@model IEnumerable<DAL_Paggination.Manufacturer>

@Ajax.ActionLink("Create",
                 "Create",
                 new { @type = "Manufacturer" },
                 new AjaxOptions { UpdateTargetId = "place" },
                 new { @class = "btn btn-info my-3" })
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ManufacturerId</th>
            <th>ManufacturerName</th>
            <th>Button for delete</th>
            <th>Button for update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model)
        {
            <tr>
                <td>@manufacturer.ManufacturerId</td>
                <td>
                    @manufacturer.ManufacturerName
                </td>
                <td>
                    @Ajax.ActionLink("Delete",
                                         "Delete",
                                         new { @id = manufacturer.ManufacturerId, @type = "Manufacturer" },
                                         new AjaxOptions { UpdateTargetId="place"},
                                         new {@class = GoodRepoMethods.IsInvolvedManufacturer(ViewBag.good, manufacturer.ManufacturerId) ? "btn btn-danger disabled" : "btn btn-danger" })
                </td>
                <td>
                    @Ajax.ActionLink("Update",
                                         "Update",
                                         new { @id = manufacturer.ManufacturerId, @type = "Manufacturer" },
                                         new AjaxOptions { UpdateTargetId = "place" },
                                         new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="paging">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Ajax.ActionLink($"{i + 1}", "TableManufacturers", new { id = @i + 1 }, new AjaxOptions { UpdateTargetId = "place" }, new { @class = "btn btn-success" })
    }
</div>
